.page {
  background-color: var(--clr-primary-200);
}

.logo {
  padding-top: 7%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5625rem;
}

.auth-form {
  max-width: 440px;
  margin-inline: auto;
}
