@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

:root {
  --clr-neutral-100: #ededed;
  --clr-neutral-200: #c3c7c7;
  --clr-neutral-400: #a4a7a7;
  --clr-neutral-900: #272626;

  --clr-primary-200: #b3dbff;
  --clr-primary-300: #53c2fd;
  --clr-primary-400: #5cb3ff;
  --clr-primary-900: #00294d;

  --clr-accent-400: #c28af6;
  --clr-accent-600: #b15eff;
  --clr-accent-900: #9a58d7;

  --clr-red-400: #e72929;

  --ff-accent: "Poetsen One", sans-serif;
  --ff-base: "Poppins", sans-serif;
  --ff-secondary: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
}

body {
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-base);
}

main {
  margin-bottom: 40px;
}

picture,
img,
svg {
  max-width: 100%;
  display: block;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: none;
  list-style-type: none;
}
