.section {
  padding-block: 4rem;
}

.even-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  & > * {
    flex: 1;
  }
}

.main-inline-mw {
  margin-inline: auto;
  max-width: 1280px;
  padding-inline: 2rem;

  &[data-type="narrow"] {
    max-width: 900px;
  }
}

@media screen and (max-width: 700px) {
  .even-columns {
    display: grid;
    justify-items: center;
  }
}
