.heading {
  font-weight: 500;
  font-family: var(--ff-accent);

  h1& {
    font-size: 896px;
  }
  h2& {
    font-size: 1.875rem;
  }
  h3& {
    font-size: 1.5rem;
  }
  h4& {
    font-size: 1.25rem;
  }
  h5& {
    font-size: 1rem;
  }
  h6& {
    font-size: 0.9375rem;
  }
}

.btn {
  background-color: var(--clr-primary-400);
  cursor: pointer;
  font-weight: bold;
  font-family: var(--ff-base);
  border: none;
  border-radius: 50rem;
  padding: 7px 18px;
  color: var(--clr-primary-900);
  transition: 300ms ease;

  &[data-size="full-bleed"] {
    width: 100%;
  }

  &[data-type="outline"] {
    background-color: transparent;
    outline: solid 2px var(--clr-primary-900);
    outline-offset: -2px;
  }
  &[data-type="accent"] {
    background-color: var(--clr-accent-400);
  }

  &:hover {
    background-color: var(--clr-primary-200);
  }
}

.btn-icon {
  margin-left: 4px;
}

.tag {
  background-color: var(--clr-primary-400);
  display: inline-block;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--ff-base);
  border: none;
  border-radius: 4px;
  padding: 7px 18px;
  color: var(--clr-primary-900);

  &[data-size="full-bleed"] {
    width: 100%;
  }

  &[data-type="outline"] {
    background-color: transparent;
    border: solid 2px var(--clr-primary-900);
  }
  &[data-type="accent"] {
    background-color: var(--clr-accent-400);
  }

  &:hover,
  &:focus {
    background-color: var(--clr-primary-200);
  }
}

.input {
  padding: 9px 10px;
  background-color: transparent;
  outline: none;
  border: 1px solid currentColor;
  width: 100%;
  border-radius: 2px;
  font-family: var(--ff-base);

  &[data-type="light"] {
    color: var(--clr-neutral-100);
    border: solid 1px var(--clr-neutral-100);
  }
}

.line {
  margin-block: 24px;
  width: 100%;
  height: 1px;
  border: none;
  background-color: currentColor;
}

.tooltip {
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-900);
  font-family: var(--ff-base);
  padding: 7px 9px;
}
