.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 17px;
  padding-left: none;
  list-style-type: none;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link {
  color: var(--clr-primary-900);

  &:hover,
  &:focus {
    color: var(--clr-accent-400);
  }
}

.nav-icon-wrapper {
  position: relative;
}

.nav-icon {
  color: var(--clr-primary-900);
  cursor: pointer;
  font-size: 19px;
  transition: 300ms ease;
  border-radius: 4px;
  padding: 8px;

  &:hover {
    background-color: var(--clr-accent-400);
  }

  &:hover + .nav-icon-tooltip {
    opacity: 1;
  }
}

.nav-icon-tooltip {
  position: absolute;
  transition: 300ms ease;
  background-color: var(--clr-primary-200);
  border-radius: 4px;
  user-select: none;
  padding: 6px 8px;
  opacity: 0;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.profile-img {
  width: 30px;
  height: 30px;
  background-image: url("/male-profile-img.avif");
  border-radius: 100rem;
  background-position: center;
  background-size: cover;
  outline: solid 2px var(--clr-primary-900);
  outline-offset: 2px;
  cursor: pointer;
  transition: 300ms ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
    outline-color: var(--clr-accent-400);
  }
}
