.testimonial-card {
  border-radius: 8px;
  background-color: var(--clr-neutral-100);
  padding: 18px;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
  margin: 25px;
}

.testimonial-header {
  display: flex;
  gap: 12px;
}

.testimonial-user-img {
  width: 50px;
  aspect-ratio: 1 / 1;
  outline-offset: 2px;
  outline: solid 1px var(--clr-primary-900);
  border-radius: 100rem;
}

.testimonial-titles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.testimonial-username {
  color: var(--clr-accent-400);
  font-weight: bold;
}

.testimonial-rating {
  align-self: end;
  max-width: 150px;
}
