.testimonial {
  width: 100%;
  text-align: start;
  padding: 18px;
  background-color: var(--clr-neutral-100);
  border-radius: 1rem;

  & header {
    display: flex;
    gap: 1rem;
  }
}

.testimonial-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: solid 2px var(--clr-primary-400);
  border-radius: 40rem;
}

.testimonial-message {
  margin-block: 12px 1rem;
}

.testimonial-subheading {
  & .heading {
    color: var(--clr-primary-900);
  }

  & p {
    text-transform: lowercase;
    color: var(--clr-primary-400);
  }
}

.testimonial-rating {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
