.logo {
  padding-top: 7%;
}

.content {
  color: var(--clr-primary-900);
}

.content-text {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  color: var(--clr-accent-900);
}

.error-img {
  outline: solid 2px var(--clr-primary-900);
  outline-offset: -5px;
  width: 380px;
  height: 390px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/sad-dog.png");
}
